---
id: index
layout: default
color: purple
title: SEB Open Source
intro: In the service of ambitious minds. Today and tomorrow.
---

<div class="index-sections">

  {% assign section = 'why-open-source' %}
  {% include index-section.html %}

  <div class="small-index-section">

    {% assign section = 'explore-projects' %}
    {% include index-section.html %}

    {% assign section = 'activity' %}
    {% include index-section.html %}

  </div>

  <div class="small-index-section">

    {% assign section = 'open-banking' %}
    {% include index-section.html %}
        
    {% assign section = 'career' %}
    {% include index-section.html %}
  
  </div>

</div>
