---
id: projects
layout: default
color: blue
title: Projects
intro: A collection of SEBs Open Source Projects
---

<script src="/assets/js/date_fns.min.js"></script>

<div id="projects-text">
  <h2>Total: {{ site.data.projects.projects.size }} projects</h2>
</div>

<ul id="projects-list">

  {% for item in site.data.projects.projects %}
    {% include project-item.html %}
  {% endfor %}

  <li class="project-item ghost-item"></li>
  <li class="project-item ghost-item"></li>
  <li class="project-item ghost-item"></li>

  <script>
    const datesDOM = document.getElementsByClassName('raw-dates')
    for (let i = 0; i < datesDOM.length; i++) {
      const rawDate = datesDOM[i].textContent
      datesDOM[i].textContent = dateFns.distanceInWordsToNow(rawDate)
    }
  </script>

</ul>
