<li style="border-left-color: {{ item.primaryLanguage.color }}" class="project-item">

    <div class="project-item-top">
      <div class="project-item-header">
        <h3>{{ item.name }}</h3>
        <div class="star-wrapper">
          <i class="fas fa-star star-icon"></i>
          <p>{{ item.stargazers }}</p>
        </div>
      </div>   
      {% if item.description %}
        <p>{{ item.description }}</p>
      {% endif %}
    </div>
  
    <div class="project-item-bottom">
  
      <div class="project-item-language-date">
        {% if item.primaryLanguage %}
          <p class="project-item-language">{{ item.primaryLanguage.name }}</p>
        {% endif %}
        <p class="project-item-updated">
          Updated {{ item.pushedAt | date: "%Y-%m-%d" }}
        </p>
      </div>
  
      <div class="project-item-links">
        {% if item.homepageUrl %}
          <a href="{{ item.homepageUrl }}">
            <i class="far fa-link"></i>
            <p>Website</p>
          </a>
        {% endif %}
        <a href="{{ item.url}}">
          <i class="fab fa-github"></i>
          <p>Repository</p>
        </a>  
      </div>
  
    </div>
  
</li>