body {
  margin: 0;
  display: flex;
  min-height: 100wh;
  flex-direction: column;
}

a {
  text-decoration: none;
}

.default-content {
  margin-top: $navbar-height;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  padding: $spacer-l;
}

.page-header,
.page-end {
  height: 300px;
  color: white;
  padding: 0 $spacer-l;
  background-size: 200%;
  background-repeat: no-repeat;
}
