body {
  margin: 0;
  @include flex-vertical;
  min-height: 100vh;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

main {
  flex: 1;
  max-width: 100%;
  margin-top: $navbar-height;
  @include flex-vertical;
}

.page-background {
  background-color: $grey9;
}

.page-wrapper {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  @include default-padding;
}

.page-header-background {
  height: $header-size;
  width: 100%;
  z-index: -1;
  position: absolute;
  top: $navbar-height;
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-header {
  width: 100%;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  color: white;
  height: $header-size;
  @include flex-horizontal;
  justify-content: flex-start;
  align-items: center;
}

.page-header-text {
  @include default-padding;
}

.page-end {
  background-size: 200%;
  background-repeat: no-repeat;
  background-position: center center;
  height: 1.5 * $navbar-height;
}

// IE HACKS
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body {
    display: block !important;
  }

  nav {
    position: relative !important;
  }

  .page-header-background {
    height: $header-size + $navbar-height;
  }
}
