footer {
  @include default-padding;
  background: $grey2;

  h3,
  a,
  p {
    color: $grey8;
  }
}

.footer-content {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  @include default-padding;
}

.footer-section {
  @include flex-vertical;
}

.footer-main {
  @include flex-vertical;

  .footer-section {
    margin-bottom: $spacer-l;
  }

  @include small {
    flex-direction: row;
    > * {
      flex: 1;
    }
    justify-content: space-between;
  }
}

.footer-end {
  @include flex-vertical;
  @include small {
    flex-direction: row;
    > * {
      flex: 1;
    }
    justify-content: space-between;
  }
}

.foot-link {
  margin-bottom: $spacer-xs;
  align-self: flex-start;
}

#footer-btn {
  margin-top: $spacer-m;
  width: 150px;
}
