.index-sections {
  margin-top: $spacer-xl;
  padding-bottom: $spacer-l;
  @include flex-vertical;
}

.index-section {
  flex: 1;
  margin-bottom: 3 * $spacer-xl;
  @include flex-vertical;

  @include small {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2 * $spacer-xl;
    margin-bottom: 2 * $spacer-xl;
    > * {
      flex: 1;
      padding-left: $spacer-l;
      padding-right: $spacer-l;
    }
  }
}

.index-section:nth-child(odd) {
  @include small {
    flex-direction: row-reverse;
  }
}

#index-header {
  .header-title {
    visibility: hidden;
  }
}

.index-button {
  @include flex-horizontal;
  justify-content: flex-end;
  @include small {
    justify-content: flex-start;
  }
}

.index-section-image img {
  width: 100%;
  height: auto;
  @include small {
    @include flex-vertical;
    justify-content: center;
  }
}

.index-section-interaction {
  h1 {
    margin-top: $spacer-xs;
    margin-bottom: $spacer-xs;
  }
  @include small {
    @include flex-vertical;
    justify-content: center;
    p {
      margin-bottom: $spacer-xl;
    }
  }
}
