.index-sections {
  padding-bottom: $spacer-l;
  @include flex-vertical;
}

.index-section {
  flex: 1;
  margin-bottom: $spacer-xl;
  p {
    margin-bottom: $spacer-l;
  }
}

#index-header {
  .header-title {
    visibility: hidden;
  }
}

.index-button {
  @include flex-horizontal;
  justify-content: flex-end;
  @include small {
    justify-content: flex-start;
  }
}
