.index-sections {
  @include flex-vertical;
}

.index-section {
  @include flex-vertical;
  margin-bottom: $spacer-m;
  @include small {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: $spacer-l;
  }
}

.index-section:nth-child(odd) {
  @include small {
    flex-direction: row-reverse;
  }
}

#index-header {
  .header-title {
    visibility: hidden;
  }
}

.index-link {
  color: black;
  font-weight: 500;
  i {
    margin-left: $spacer-xs;
  }
}

.index-section-image img {
  width: 100%;
  height: auto;
  @include small {
    @include flex-vertical;
    justify-content: center;
  }
}

.index-section-interaction {
  background: white;
  @include default-padding;
  @include flex-vertical;
  justify-content: space-between;
  .index-section-intro {
    margin: 0;
  }
}
