nav {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  width: 100%;
  background: $grey2;
  justify-content: flex-start;
  max-width: 100%;

  > * {
    height: 100%;
  }

  a {
    text-align: center;
    color: white;
  }
}

#seb-logo {
  height: $navbar-height;
  width: auto;
}

#menu-icon-wrapper {
  height: $navbar-height;
  width: $navbar-height;
  @include flex-horizontal;
  justify-content: center;
  align-items: center;

  @include small {
    display: none;
  }
}

#menu-icon {
  color: $grey8;
  font-size: 200%;
}

ul.nav-menu {
  list-style: none;
}

.nav-link {
  font-size: 130%;
  color: $grey8;
  font-weight: 400;

  i.fa-external-link {
    margin-left: $spacer-s;
    font-size: 80%;
  }
}

#desktop-menu {
  @include flex-horizontal;
  align-items: center;
  padding-left: $spacer-l;
  margin: 0;
  flex-grow: 1;

  .nav-list-item {
    display: none;
  }

  .nav-title {
    display: flex;
    font-weight: 500;
  }

  @include small {
    .nav-list-item {
      display: flex;
      padding-right: $spacer-l;
    }
  }
}

#mobile-menu {
  display: none;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  top: $navbar-height;
  width: 100%;
  background: $grey2;
  margin: 0;
  padding: $spacer-s 0;
  max-width: 100%;
  .nav-list-item {
    padding: $spacer-s $spacer-s;
    color: white;
  }
  .nav-title {
    display: none;
  }

  @include small {
    display: none;
  }
}

#mobile-menu.menu-open {
  display: flex;
}
