#projects-text {
  margin-bottom: $spacer-l;
}

#projects-list {
  list-style: none;
  padding-left: 0;
  margin: -(0.5 * $spacer-m);
  @include flex-vertical;
  @include small {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: -(0.5 * $spacer-l);
  }
}

.project-item {
  flex-grow: 1;
  flex-shrink: 0;
  background: white;
  border-left-style: solid;
  border-left-width: 5px;
  margin: 0.5 * $spacer-m;
  min-height: 200px;
  @include flex-vertical;
  justify-content: space-between;
  @include default-padding;
  @include small {
    width: 280px;
    margin: 0.5 * $spacer-l;
    flex-basis: 33.3333%;
    flex-basis: 240px;
  }
}

.ghost-item {
  @include default-padding;
  height: 0px;
  visibility: hidden;
  min-height: 0;
}

.star-icon {
  margin-right: 0.5 * $spacer-xs;
  color: $yellow;
}

.star-wrapper {
  @include flex-horizontal;
  align-items: center;
  margin-left: $spacer-s;
  p {
    margin: 0;
  }
}

.project-item-top {
  margin-bottom: $spacer-m;
}

.project-item-bottom {
  @include flex-horizontal;
  justify-content: space-between;
}

.project-item-header {
  @include flex-horizontal;
  justify-content: space-between;
}

.project-item-language-date {
  @include flex-vertical;
  justify-content: flex-end;
}

.project-item-language {
  font-size: 90%;
}

.project-item-links {
  @include flex-vertical;
  justify-content: flex-end;
  i {
    font-size: 18px;
    margin-right: $spacer-xs;
  }

  a {
    color: black;
    margin-bottom: 4px;
    @include flex-horizontal;
    align-items: center;
    align-self: flex-start;
  }
  p {
    margin: 0;
  }
}

.project-item-updated {
  margin-bottom: 0;
}
