#projects-header {
  background-position: center bottom;
}

#projects-end {
  background-position: right top;
}

#projects-list {
  list-style: none;
  padding-left: 0;
}

.project-item {
  @include flex-vertical;
  margin-bottom: $spacer-xl;
  padding-left: $spacer-s;
  border-left-style: solid;
}

.star-icon {
  height: 32px;
  width: 32px;
}

.star-wrapper {
  @include flex-horizontal;
  align-items: center;
  margin-left: $spacer-s;
  p {
    margin: 0;
  }
}

.project-item-header {
  @include flex-horizontal;
  justify-content: space-between;
  margin-top: $spacer-xs;

  h3 {
    margin: 0;
  }
}

.project-item-language {
  margin-top: 0;
  font-size: 90%;
}

.project-item-links {
  i {
    font-size: 18px;
    margin-right: $spacer-xs;
  }

  a {
    color: black;
    margin-bottom: 4px;
    @include flex-horizontal;
    align-items: center;
    align-self: flex-start;
  }
  p {
    margin: 0;
  }
  @include flex-vertical;
}
